/* FAQ */
/* FAQ END */

/* FINANTIAL STATEMENTS */
.TopPanelItem {
  text-align: left;
}

.TopPanelItemImage {
  width: 45%;
  /* margin-left: 25%; */
  margin-left: auto;
  margin-right: auto;
}

.TopPanelItemImagePartners {
  width: 100%;
}

.page-seperator {
  width: 100%;
  height: 10svh;
}

.FinancialStatements-link {
  background-color: #0f1923;
  color: white;
  height: fit-content;
  margin: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 15px;
  width: 47%;
  transition: all 0.15s ease;
}
.Statements-links {
  display: flex;
  flex-wrap: wrap;
}
.STATEMENTS_cards .cookieDescription a {
  text-decoration: none;
  background-color: #0f1923;
  color: white;
  width: min-content;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 5px;
  /*flex-grow: 1;
  */box-sizing: border-box;
  width: 47%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.STATEMENTS_cards .cookieDescription a::before {
  content: "💾    "; /* Unicode character code for the Font Awesome download icon */
  font-family: "FontAwesome";
}
/* 💾📩⬛🟥🔴⚫ */

@media (max-width: 767px) {
  .STATEMENTS_cards .cookieDescription a {
    width: 100%;
  }
}

.STATEMENTS_cards .cookieDescription a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

.STATEMENTS_cards {
  height: fit-content !important;
}

.STATEMENTS_cards .cookieDescription a:hover {
  background-color: rgb(192, 41, 72);
}
/* FINANTIAL STATEMENTS END */

/* DISCOVER HEADER */
.discover-header {
  position: relative;
}

.discover-header-image {
  position: relative;
  height: 25vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.3);
  object-position: bottom center;
}

.discover-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.breadcrumb-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 70%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 1;
}

.breadcrumb {
  background-color: transparent !important;
  margin-bottom: 0 !important;
  color: white !important;
  text-decoration: none !important;
}

.breadcrumb-item {
  color: white !important;
  text-decoration: none !important;
}

.breadcrumb-item a {
  color: white !important;
  text-decoration: none !important;
}

.breadcrumb-item.active {
  color: #cccccc !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  color: white;
}

/* DISCOVER HEADER END */

/* TENDERS card */
.discover-tenders-card {
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 36px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.2;
  border: 1px solid #99999973;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);

  -webkit-box-shadow: 9px 7px 57px -33px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 9px 7px 57px -33px rgba(0, 0, 0, 0.7);
  box-shadow: 9px 7px 57px -33px rgba(0, 0, 0, 0.7);
}

.discover-tenders-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  color: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.discover-tenders-content .discover-tenders-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.8;
  margin-right: auto;
  text-align: start;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.discover-tenders-content .discover-tenders-para {
  z-index: 1;
  opacity: 0.8;
  font-size: 20px;
  text-align: start;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  list-style: none;
  list-style-type: none;
}
.discover-tenders-para * {
  list-style: none;
  list-style-type: none;
  line-height: 2.2rem;
}
.discover-tenders-content .discover-tenders-para a {
  background-color: #00bf72;
  padding: 0.4rem;
  border-radius: 1rem;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  white-space: nowrap;
}
.discover-tenders-content .discover-tenders-para a::before {
  content: "📋 ";
}
.discover-tenders-card::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72);
  z-index: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.discover-tenders-card:hover::before {
  scale: 20;
  opacity: 1;
}

.discover-tenders-card:hover::after {
  scale: 20;
  opacity: 1;
}

.discover-tenders-card:hover
  .discover-tenders-content
  .discover-tenders-heading {
  color: #ffffff;
}

.discover-tenders-card:hover .discover-tenders-content .discover-tenders-para {
  color: #ffffff;
}

.discover-tenders-card:hover {
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: black;
  scale: 1.05;
}

.tender-book-button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 210px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.tender-book-button,
.tender-book-button__icon,
.tender-book-button__text {
  transition: all 0.3s;
}

.tender-book-button .tender-book-button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.tender-book-button .tender-book-button__icon {
  position: absolute;
  transform: translateX(165px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tender-book-button .tender-book-svg {
  width: 20px;
  fill: var(--main-color);
}

.tender-book-button:hover {
  background: var(--bg-color);
}

.tender-book-button:hover .tender-book-button__text {
  color: transparent;
}

.tender-book-button:hover .tender-book-button__icon {
  width: 210px;
  transform: translateX(0);
}

.tender-book-button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.TendersPagination {
  margin: 0 auto;
}

/* TENDERS card END */

/* TENDERS SHORT */

.short-tender-card .swiper-slide,
.swiper-wrapper,
.swiper {
  height: 140px;
}

.swipe-left-taxt {
  margin-bottom: -50px;
}

.short-tender .card1 p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #666;
}

.short-tender .card2 {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.short-tender .card1 p.small {
  font-size: 14px;
}

.short-tender .card1 p.title {
  height: 40px;
}

.short-tender .go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  /* background-color: #00838d; */
  background-color: linear-gradient(
    to bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72
  );
  border-radius: 0 4px 0 32px;
}

.short-tender .go-arrow {
  margin-top: -10px;
  color: white;
  scale: 1.3;
  font-family: courier, sans;
}

.short-tender .card1 {
  position: relative;
  text-align: start;
  height: 140px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border-radius: 15px;
}

.short-tender .card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  /*background: #00838d;
  */
  background: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72);
  height: 38px;
  width: 50px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
}

.short-tender .card1:hover:before {
  transform: scale(27);
  -webkit-transform: scale(27);
  -moz-transform: scale(27);
  -ms-transform: scale(27);
  -o-transform: scale(27);
}

.short-tender .card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.short-tender .card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

/* TENDERS SHORT END */
