.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  scale: 0.85;
}

.switch > span {
  position: absolute;
  top: 50%; /* Center vertically */
  /* left: 50%; */
  /* transform: translate(0%, -50%);  */
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.switch .on {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(60%, -50%);
}
.switch .off {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
  }

input.check-toggle-round-flat:checked ~ .off {
    /* color: rgba(0, 0, 0, 0.425); */
    color: white;
}

input.check-toggle-round-flat:checked ~ .on {
  /* color: #fff !important; */
  color: rgba(0, 0, 0, 0.425);
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  /* color: rgba(0, 0, 0, 0.425); */
  color: #fff;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  /* color: #fff; */
  color: rgba(0, 0, 0, 0.425);
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  border-radius: 60px;
  /* background-color: #f36f25; */

  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
filter: opacity(15%);
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 60px;
  /* background-color: #f36f25; */


  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
filter: opacity(15%);
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
